
/*User*/
.User{
	padding: 160px 0;
	background: #f7f7f7;
}
.User h2{
	font-size: 40px;
    line-height: 48px;
    color: #3eabb8;
    margin-bottom: 16px;
    margin-top: 0;
}
.User h4{
	color: #60bec9;
    font-weight: 300;
    margin-bottom: 0;
    font-size: 24px;
}
.User h4 span{
	position: relative;
	left: 0;
	top: -12px;
	font-style: italic;
	font-size: 18px;
}
@media  screen and (max-width: 769px) {
	.User h2{
		font-size: 32px;
	}
	.User h4{
		font-size: 18px;
	}
	.User h4 span{
		top: -8px;
	}
}
/*API*/
.API{
	padding: 80px 0;
}
.API .markdown-toc{
	float: right;
	width: 220px;
	margin-right: -30px;
}
.API .markdown-toc ul{
	padding-left: 20px;
}
.API .markdown-toc a{
	display: block;
	text-decoration: none;
	padding: 2px 10px;
	color: #3eabb8;
	font-size: 14px;
	margin: 10px 0;
}
.API .markdown-toc>ul>li>a{
	display: block;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 800;
    color: #3eabb8;
    padding: 2px 10px;
    margin: 24px 0 16px;
}
.API .col-md-9 a{
	text-decoration: none;
}
.API .col-md-9 h1{
	font-size: 48px;
    line-height: 56px;
    padding-bottom: 32px;
    font-weight: 300;
    color: #333333;
    border-bottom: 1px solid #CCCCCC;
}
.API .col-md-9 h2{
	font-size: 32px;
    line-height: 40px;
    color: #333;
    margin-bottom: 32px;
    font-weight: 300;
}
.API .col-md-9 p{
	font-size: 14px;
    line-height: 24px;
    color: #777777;
    font-weight: 400;
    margin-bottom: 24px;
}
.API .col-md-9 p span{
	position: relative;
	top: -6px;
	left: 0px;
	font-style: italic;
}
.API .col-md-9>span code{
	color: #3eabb8;
	display: block;
	margin-bottom: 30px;
	font-size: 24px;
	background: none;
	font-weight: 800;
}
.API .col-md-9 .table-responsive{
	margin-bottom: 40px;
}
.API .col-md-9 .table-responsive th{
	border-bottom: 2px solid #ddd;
	padding: 8px;
}
.API .col-md-9 .table-responsive td{
	padding: 8px;
    line-height: 1.42857143;
    border-top: 1px solid #ddd;
    font-size: 12px;
    color: #777;
}
.API .col-md-9 .table-responsive code{
	background: none;
	color: #3eabb8;
}
.API .col-md-9 .line-width{
	width: 36px;
	height: 1px;
	background: #333333;
}
@media screen and (max-width:1200px ) {
	.API .markdown-toc{
		margin-right: 0;
		float: none!important;
		padding-left: 50px;
	}
}
