
/*Step-one*/
.Step-one{
	padding: 160px 0;
	position: relative;
}
.Step-one .big-pic{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background:url(../images/background-getting-started-guide-code.jpg) no-repeat center center;
	background-size: cover;
	transform: scale(1,1);
	transition: .3s;
}
.Step-one .col-md-10{	
	background: white;	
	padding: 0;
}
.Step-one .col-md-10 .col-sm-7{
	padding: 100px 0;
	height: 300px;
	padding-left: 30px;
}
.Step-one .col-md-10 h4{
	margin-top: 0;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;	
} 
.Step-one .col-md-10  p{
    font-size: 16px;
    line-height: 26px;
    color: #777;
}
.Step-one .col-md-10  p span{
	position: relative;
	top: -8px;
	left: 1px;
	font-style: italic;
	font-size: 10px;
}
.Step-one .col-sm-5{
	background: #3eabb8;
	padding: 100px 0;
	height: 300px;
	
}
.Step-one .col-sm-5 h5{
    color: #d2edf0;
    margin-bottom: 32px;
    margin-top: 0;
}
.Step-one .col-sm-5 a.btn{
	width: 164px;
	padding: 17px 0;
	background: #3eabb8;
	border: 3px solid white;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 800;
	color: white;
	text-decoration: none;
	border-radius: 0;
	transition: .3s;
}
.Step-one .col-sm-5 a.btn:hover{
	background: white;
	color: #3eabb8;
}
/*Step-two*/
.Step-two{
	background: #f7f7f7;
	padding: 80px 0;
}
.Step-two h2{
	font-size: 32px;
    line-height: 40px;
}
.Step-two .container>p{
	font-size: 16px;
    line-height: 26px;
    color: #777;
    font-weight: 500;
    margin-top: 20px;
}
.Step-two .row h3{
	font-weight: 300;
    font-size: 28px;
    line-height: 34px;
    color: #3eabb8;
    margin-bottom: 24px;
}
.Step-two .row .col-md-6>p{
	font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    color: #333;
    margin-bottom: 24px;
}
.Step-two .row .col-md-6>p span{
	color: #3eabb8;
	display: inline-block;
	padding: 0 3px;
	font-size: 20px;
}
.Step-two .row .col-md-6 h4{
	font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 24px;
}
.Step-two .row .col-md-6 p.small-a{
	font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    color: #777;
}
.Step-two .row .col-md-6 p.small-a span{
	color: #3eabb8;
	display: inline-block;
	padding: 0 3px;
	font-size: 12px;
	letter-spacing: 1px;
}
.Step-two .row .col-md-6 .shell-wrap{
	width: 100%;
    margin: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.Step-two .row .col-md-6 .shell-wrap .shell-heading{
    text-align: center;
    color: #525252;
    padding: 5px 0;
    margin: 0;
    text-shadow: 1px 1px 0 rgba(255,255,255,.5);
    font-size: .85em;
    border: 1px solid #CCC;
    border-bottom: none;
    background: linear-gradient(to bottom,#f7f7f7 0,#B8B8B8 100%);
    background: -webkit-gradient(linear,left top,left bottom,from(#f7f7f7),to(#B8B8B8));
	background: -moz-linear-gradient(#f7f7f7,#B8B8B8);
}
.Step-two .row .col-md-6 .shell-wrap .shell-body{
	margin: 0 0 30px 0;
    padding: 5px;
    list-style: none;
    background: #141414;
    color: #45D40C;
    font: .8em 'Andale Mono',Consolas,'Courier New';
    line-height: 1.6em;
}
.Step-two .row .col-md-6 .shell-wrap .shell-body li{
	padding-left: 15px;
	position: relative;
}
.Step-two .row .col-md-6 .shell-wrap .shell-body li:before {
	display: block;
    content: '$';
    position: absolute;
    left: 0;
    top: 0;
}
.Step-two .row .col-md-6 .bot-a{
	font-size: 14px;
    line-height: 24px;
}
.Step-two .row .col-md-6 .bot-a span{
	font-size: 10px;
	letter-spacing: 1px;
}
/*GET*/
.GET{
	padding: 88px 0;
}
.GET h5{
	color: #3eabb8;
    font-size: 24px;
    display: block;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 800;
    
}
.GET span{
	display: inline-block;
	height: 30px;
	width: 40px;
	font-size: 24px;
	color: #3eabb8;
}
.GET span.glyphicon{
	top: 11px;
}
.GET a{
	display: inline-block;
	margin-left: 8px;
    position: relative;
       font-weight: 400;
    border-bottom: 2px solid #3eabb8; 
    color: #3eabb8;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    width: 75px;
    text-align: left;
    transition: .3s;
}
.GET a i{
	display: block;
	position: absolute;
	right: -22px;
	top: 7px;
	font-size: 10px;
	opacity: 0;
	transition: .3s;
}
.GET a:hover{
	width: 97px;
}
.GET a:hover i{
	opacity: 1;
	right: 0;
}
/*.Next*/
.Next{
	background:#f7f7f7 ;
	padding: 80px 0;
}
.Next .line-width{
	width: 36px;
	height: 1px;
	background: #333333;
}
.Next h5{
	color: #333333;
	font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin: 20px 0 24px 0;
}
.Next h4{
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    margin:  10px 0 50px 0;
}
.Next .col-md-4:hover .artile{
	border-color:#3eabb8 ;
}
.Next .col-md-4.bg:hover .pic{
	transform: scale(1.1,1.1)!important;
}
.Next .col-md-4.bg .artile{	
	padding: 0;
	border:none;
}
.Next .col-md-4.bg .artile{
	position: relative;
}
.Next .col-md-4.bg .artile .pic{
	width: 100%;
	height: 100%;
	background: url(../images/blog-square1.jpg) no-repeat;
	background-size: cover;	
	position: absolute;
	left: 0;
	top: 0;
	transform:scale(1,1);
	transition: .3s;
}
.Next .col-md-4.bg .artile .wrap{
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.3);
	width: 100%;
	height: 100%;
	padding: 32px;
	z-index: 100000;
}
.Next .col-md-4.bg .artile h5{
	color: white;
}
.Next .col-md-4.bg .artile p{
	color: white;
}
.Next .col-md-4.bg .artile a{
	border-color: white;
	color: white;
}
.Next .col-md-4 .artile{
	height: 360px;
	padding: 32px;
	border: 3px solid transparent;
	transition: .3s;
	overflow: hidden;
}
.Next .col-md-4 h5{
	color: #3eabb8;
	font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}
.Next .col-md-4 p{
	font-size: 14px;
    line-height: 24px;
    margin-bottom: 24px;
    color: #777;
}
.Next .col-md-4 a{
	display: block;
	height: 30px;
	line-height: 30px;
	border-bottom: 2px solid #3eabb8;
	position: relative;
	width: 75px;
	text-decoration: none;
	transition: .3s;
	color: #3eabb8;
}
.Next .col-md-4 a.width_100{
	width: 95px;
}
.Next .col-md-4 a.width_100:hover{
	width: 115px;
}
.Next .col-md-4 a i{
	display: block;
	position: absolute;
	right: -30px;
	top: 7px;
	opacity: 0;
	transition: .3s;
}
.Next .col-md-4 a:hover{
	width: 95px;
}
.Next .col-md-4 a:hover i{
	opacity: 1;
	right: 0;
}
