
/*Date*/
.Date{
	padding: 160px 0;
	background: #f7f7f7;
}
.Date .detail-line{
	width: 36px;
	height: 1px;
	background: #333333;
} 
.Date h5{
   font-size: 18px;
   font-weight: 400;
   line-height: 28px;
   padding: 10px 0;
}
.Date .container>p{
	font-size: 64px;
    line-height: 72px;
    font-weight: 300;
    color: #bbb!important;
    margin-bottom: 40px;
}
.Date p strong{
	color: #333!important;
    font-weight: 300;
}
.Date .container>p span{
	position: relative;
	left: 0;
	top: -30px;
	font-style: italic;
	font-size: 40px;
}
.Date .row p{
    font-size: 16px;
    line-height: 26px;
    opacity: .8;
    font-weight: 400;
    margin-bottom: 20px;
}
.Date .row h4{
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    color: #333;
    margin-top: 0;	
    margin-bottom: 24px;
}
@media  screen and (max-width:769px ) {
	.Date .container>p {
	    font-size: 32px;
	    line-height: 40px;
	    font-weight: 300;
	    color: #bbb!important;
	    margin-bottom: 40px;
	}
	.Date .container>p span{
		top: -10px;
		font-size: 30px;
	}
}
/*Developers*/
.Developers{
	padding: 120px 0;
	background: #3eabb8!important;
}
.Developers h4{
	font-size: 24px;
    font-weight: 300;
    color: #FFFFFF;
    line-height: 36px;
    margin-bottom: 24px;   
}
.Developers p{
	font-size: 16px;
    line-height: 26px;
    color: white;
    margin-bottom: 48px;
}
.Developers p.size-14{
 	font-size: 13px;
 	margin-bottom: 24px;
}
.Developers p.size-14 span{
	display: inline-block;
	position: relative;
	left: -3px;
	top: -7px;
	font-size: 10px;
	font-style: italic;
} 
.Developers .padding{
	padding-left: 35px;
	margin-bottom: 20px;
}
.Developers .padding strong{
	font-weight: 800;
}
.Developers a{
	display: inline-block;
	position: relative;
	height: 26px;
	line-height: 26px;
	color: white;
	text-decoration: none;
	padding-left: 3px;
	border-bottom: 2px solid #FFFFFF;
	width: 72px;
	transition: .3s;
} 
.Developers a i{
	display: block;
	position: absolute;
	right: -30px;
	top: 6px;
	opacity: 0;
	transition: .3s;
}
.Developers a:hover{
	width: 90px;
}
.Developers a:hover i{
	right: 1px;
	opacity: 1;
}
.Developers p.bott-4{
	margin-bottom: 4px;
	font-size: 13px;
}
.Developers .pic{
	color: #d2edf0;
    font-size: 100px;
    text-align: right;	
}
.Developers h5{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
	margin-bottom: 16px;
	color: #FFFFFF;	
}
.Developers .p-size p{
    font-size: 13px;
    line-height: 24px;	
}
.Developers .p-size p span{
	position: relative;
	left: 0px;
	top: -6px;
	font-style: italic;
}
.Developers .media-left{width: 20%;}
.Developers .media-body{width: 80%;}
@media  screen and (max-width:769px ) {
	.Developers .pic{
		color: #d2edf0;
	    font-size: 40px;
	    text-align: left;
	    padding-left: 6px;	
	}
}
/*.News*/
.News{
	width: 100%;
	background: #f7f7f7;
	padding:80px 0 40px 0;
}
.News .line-width{
	width: 30px;
	height: 1px;
	background: black;
	margin-bottom: 24px;
}
.News h5{
	font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #777;
   	margin-bottom: 24px;
}
.News h3{
	font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 48px;
    margin-top: 0;
    color: #333;
}
.News .row .col-md-4 .MAY{
	padding: 32px;
	border: 3px solid #FFFFFF;
	background: #FFFFFF;
	transition: .3s;
	margin-bottom: 30px;
	cursor: pointer;
}
.News .row .col-md-4 .MAY:hover{
	border: 3px solid #3eabb8;
}
.News .row .col-md-4 h4{
	font-weight: 700;
	font-size: 14px;
    color: #333;
    margin-top: 0;
    margin-bottom: 16px;
}
.News .row .col-md-4 h5{
	 color: #3eabb8;
}
.News .row .col-md-4 p{
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	margin-bottom: 24px;
}
.News .row .col-md-4 p span{
	position: relative;
	top: -5px;
	left: 0px;
	font-size: 10px;
}
 .News .row .col-md-4 a{
 	font-weight: 400;
 	font-size: 14px;
 	color:#3eabb8 ;
 	height: 30px;
 	line-height: 30px;
 	text-decoration: none;
 	display: block;
 	width: 88px;
 	border-bottom: 2px solid #3eabb8;
 	position: relative;
 	transition: .3s;
 	margin-bottom: 60px;
 }   
.News .row .col-md-4 a i{
  	display: block;
  	position: absolute;
  	right: -35px;
  	top: 9px;
  	font-size: 10px;
  	opacity: 0;
  	transition: .3s;
  }
.News .row .col-md-4 a:hover{
   	width: 108px;
   
   }
.News .row .col-md-4 a:hover i{
	opacity: 1;
	right: -1px;
}
/*Microservices*/
.Microservices{
	padding: 160px 0 ;
}
.Microservices .line-width{
	width: 36px;
	height: 1px;
	background: #333333;
}
.Microservices h5{
	font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #333;
    margin-top: 24px;
    margin-bottom: 24px;
}
.Microservices p{
	font-size: 14px;
    line-height: 24px;
    color: #777;
}
/*Get*/
.Get{
	padding: 80px 0;
	background: #f7f7f7;
}
.Get h2{
	color: #3eabb8;
}
.Get a.btn{
 	margin-top: 20px;
 	padding: 19px 28px;
 	border: 3px solid #3eabb8;
 	border-radius: 0!important;
 	text-transform: uppercase;
 	font-size: 12px;
 	font-weight: 800;
 	color:#3eabb8 ;
 	transition: .3s;
} 
.Get a.btn:hover{
  	background: #3eabb8;
  	color: white;
}  
